# Operadores aritméticos

- Crie uma operação de adição

In [1]:
1+1

2

In [2]:
'distrito ' + 'de ' + ' Lisboa'

'distrito de  Lisboa'

- Crie uma operação de multiplicação

In [3]:
45*2

90

- Crie uma operação de adição com strings (concatenação)

In [5]:
'hoje é dia: ' + '28'

'hoje é dia: 28'

- Crie uma operação de multiplicação com string

In [6]:
'davi'*3

'davidavidavi'

- Crie uma operação de potenciação

In [7]:
3**3

27

- Crie uma operação de subtração

In [8]:
3-3

0

- Crie uma operação de divisão

In [9]:
21/7

3.0

- Crie uma operação de divisão inteira

In [11]:
22//3

7

- Crie uma operação de módulo

In [15]:
25%7

4

- Crie uma operação aritmética usando variáveis

In [17]:
a=4
b=5
a+b

9

# Operadores relacionais

- Relacione dois valores usando o operador "maior que"

In [18]:
9 > 5

True

- Relacione dois valores usando o operador "maior que ou igual a"

In [20]:
9<=8

False

- Relacione dois valores usando o operador "menor que"

In [21]:
7>45

False

- Relacione dois valores usando o operador "menor que ou igual a"

In [22]:
77>=2

True

In [23]:
'mar' >= 'sol'

False

In [25]:
3 > 7

False

In [24]:
'mar' > 'litoral'

True

- Relacione dois valores usando o operador "igual a"

In [26]:
25==52

False

- Relacione dois valores usando o operador "diferente de"

In [27]:
25!=53

True

# Operadores lógico

- Crie uma operação lógica com o operador "and"

In [28]:
5==5 and 6==7

False

- Crie uma operação lógica com o operador "or"

In [29]:
5==5 or 6==7

True

- Crie uma operação lógica com o operador "not"

In [30]:
not 5==5

False

# Operadores de associação

- Verifique se um valor está contido em uma lista

In [31]:
lista =[45, 0, 25, 79, 8]
8 in lista

True

- Verifique se uma string não está contida em outra

In [33]:
lista = ['cao', 'gato','vaca']
'vaca' not in lista

False